html {
    background: linear-gradient(to bottom, #7DDCFF, #FFFFFF);
}
.photo-preview-container{
    display: flex;
    flex-direction: row;
}
.captured-Photo-container{
    display: flex;
    flex-direction: column;
}
.video-cam-container{
    position: relative;
    left: 6rem;
}
.video-cam-container h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
.video-cam-container video {
    border-radius: 20px;
    border: #000000 solid 3px;
}

.download-btn-container{
    position: relative;
    top: 2rem;
    left: 100px;
}

.download-btn-container button {
    background-color: #37A2FF;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
}

.captured-Photo-container {
    position: relative;
    padding: 10px;
    left: 230px;
    top: 85px;
}
button:hover {
    background-color: #09487f;
}